/* AddPatientPage.jsx */
.add-patient-form {
  display: flex;
  flex-direction: column;
  margin: 25% 10% 10% 10%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #f5f5dc;
  border: 1px solid #265b1d;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background: #265b1d;
  color: white;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: #8fcf75;
  color: rgb(0, 0, 0);
}

.button:hover {
  opacity: 0.8;
}

/* PatientInfo.jsx */

.patient-info-container {
  padding: 20px;
}

.patient-info-container h2 {
  margin-top: 25%;
  font-weight: 700;
  margin-left: 5%;
}

.patient-info {
  border: 1px solid #265b1d;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  background: #f5f5dc;
}

.patient-info p {
  margin: 10px 0;
}

.patient-info-actions {
  display: flex;
  justify-content: space-around;
}

.modify-button,
.delete-button {
  padding: 10px 20px;
  cursor: pointer;
}

.modify-button {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: #8fcf75;
  color: rgb(0, 0, 0);
}

.delete-button {
  background-color: #f44336; /* Red */
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

/* Modifier Patient  */
form {
  background-color: #f5f5dc; /* Beige background */
  border: 2px solid green; /* Green border */
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.5); /* Green shadow for some depth */
  margin-top: 40%;
  border-radius: 15px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
select {
  width: calc(100% - 22px); /* Full width minus padding */
  padding: 10px;
  margin-top: 5px;
  background-color: white; /* White background for inputs */
  border: 1px solid black; /* Black border for inputs */
  border-radius: 4px;
}
input {
  background: white !important;
  border: 1px solid black !important;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 15px;
}

button:hover {
  background-color: darkgreen;
}
